In [2]:
import googlemaps
import json
import pandas as pd
from datetime import datetime

YOUR_KEY='YOUR_KEY'
gmaps = googlemaps.Client(key=YOUR_KEY)

In [3]:
with open('../sample_data/Jeremy/coord.csv') as data_file:    
    df = pd.read_csv(data_file)

In [120]:
type(df['lon'][1])

numpy.float64

In [121]:
df.head()

   lat  lon
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0
3  0.0  0.0
4  0.0  0.0

In [112]:
#coord = df.loc[:,['long','lat']]

In [122]:
df.columns = ['lat', 'lng']

In [188]:
df['ID'] = df.index

In [126]:
df = df[df['lat']!=0]

In [127]:
df = df.to_dict(orient='records')

In [175]:

geocode_result = gmaps.elevation(df[1:200])
geocode_result = geocode_result + gmaps.elevation(df[200:400])
geocode_result = geocode_result + gmaps.elevation(df[400:600])
geocode_result = geocode_result + gmaps.elevation(df[600:800])
geocode_result = geocode_result + gmaps.elevation(df[800:825])

In [178]:
i = 0

for x in geocode_result:
    x.update({"ID": int(df[i]['ID'])})
    i += 1

In [131]:
df[1:10]

[{'ID': 52.0, 'lat': 33.777283333333301, 'lng': -84.389705000000006},
 {'ID': 53.0, 'lat': 33.777275000000003, 'lng': -84.389696666666694},
 {'ID': 54.0, 'lat': 33.777275000000003, 'lng': -84.389691666666693},
 {'ID': 55.0, 'lat': 33.777270000000001, 'lng': -84.389691666666693},
 {'ID': 56.0, 'lat': 33.777265, 'lng': -84.389700000000005},
 {'ID': 57.0, 'lat': 33.777265, 'lng': -84.389703333333301},
 {'ID': 58.0, 'lat': 33.7773033333333, 'lng': -84.389666666666699},
 {'ID': 59.0, 'lat': 33.777313333333304, 'lng': -84.389655000000005},
 {'ID': 60.0, 'lat': 33.777329999999999, 'lng': -84.389645000000002}]

In [176]:
len(geocode_result)

824

In [194]:
df[df.ID==716]

          lat        lon   ID
716  33.78108 -84.393717  716

In [196]:
with open('../sample_data/Jeremy/elevation.json', 'w') as outfile:
    json.dump(geocode_result, outfile)